<launch>
    <arg name="render" default="true"/>
    
    <!-- realsense_visualize 노드 실행 -->
    <node name="realsense_cam_detection" pkg="realsense_node" type="pyreal_1cam_hands_xyz.py" output="screen"/>
    <node name="visualization" pkg="realsense_node" type="visualize.py" output="screen"/>

    <!-- rviz 실행 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense_node)/rviz/hand.rviz"/>
</launch>
